<%- include('./partials/header') %>

<div class="block">
  <div class="head">
      <h1 class="display-4">­Ъце You Should Be Practicing! ­Ъце</h1>
  </div>
</div>
  
<%- include('./partials/footer') %>