.brand-logo {
  margin-left: 15px;
}

.card .card-content .card-title {
  margin-bottom: 10px;
}

#search-row form {
  padding-top: 20px;
}

.student-name {
  position: relative;
  top: -5px;
}

.collection-item form {
  margin-top: -5px;
}

html, body {
	font-family: 'Garamond';
	height: 100%;
	width: 100%;
	background: url("https://source.unsplash.com/ZhQCZjr9fHo/1920x1440");
	/*background-repeat: no-repeat;*/
	background-size: cover;
	position: relative;
	}

  footer {
   opacity: .1; 
  }