.brand-logo {
  margin-left: 15px;
}

.card .card-content .card-title {
  margin-bottom: 10px;
}

#search-row form {
  padding-top: 20px;
}

.student-name {
  position: relative;
  top: -5px;
}

.collection-item form {
  margin-top: -5px;
}

html * {
  font-family: 'Garamond';
}


body {
	height: 100%;
	width: 100%;
  /* background: url("https://i.imgur.com/UOUSyxn.jpg"); */
	background: url("https://source.unsplash.com/YyYz5d2RjU8/2100x1400");
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}

footer {
  opacity: .6;
}