<%- include('../partials/header') %> 

<h1> Edit Song</h1>
<form action="/songs/<%= song._id %>/update?_method=PUT" method="POST">
    <label>Title:</label>
    <input type="text" name="title">
    <label>Artist:</label>
    <input type="text" name="artist">
    <label>Future Performance?</label>
    <input type="checkbox" name="futurePerformance" checked>
    <input type="submit" value="Update Song">
</form>

<%- include('../partials/footer') %> 