<%- include('../partials/header') %>

<body class="bg-dark">
  <h3 class="text-center text-light">ADD A NEW SONG</h3>
  <br />
  <div class="container text-light">
    <form id="new-song-form" action="/ysbpsongs" method="POST">
      <div class="col-lg-4 offset-lg-4">
        <!-- || ================================ || -->
        <!-- || artist and name -->
        <!-- || ================================ || -->
        <div class="col-sm-10 mb-4">
          <label for="artistAndName">Artist - Name:</label>
          <input name="artistAndName" type="text" placeholder="Artist - Name" />
        </div>
        <!-- || ================================ || -->
        <!-- || genre -->
        <!-- || ================================ || -->
        <div class="col-sm-10 mb-4">
          <label for="genre">Genre:</label>
          <select
            id="genre"
            name="genre"
            class="form-select"
            aria-label="Default select example"
          >
          <option value="Pop">Pop</option>
          <option value="Rock">Rock</option>
          <option value="Metal">Metal</option>
          <option value="Country">Country</option>
          <option value="Folk">Folk</option>
          <option value="Bluegrass">Bluegrass</option>
          <option value="Classical">Classical</option>
          <option value="Opera">Opera</option>
          <option value="Electronic">Electronic</option>
          <option value="Rap">Rap</option>
          <option value="RnB">RnB</option>
          <option value="K-Pop">K-Pop</option>
          <option value="J-Pop">J-Pop</option>
          <option value="M-Pop">M-Pop</option>
          <option value="Experimental">Experimental</option>
          </select>
        </div>
        <!-- || ================================ || -->
        <!-- || details -->
        <!-- || ================================ || -->
        <div class="col-sm-10 mb-4">
          <label for="details">Details:</label>
          <textarea
            name="details"
            type="text"
            value="Details"
            rows="4"
            cols="30"
            maxlength="750"
            placeholder="Max 750 characters"
          ></textarea>
        </div>
        <!-- || ================================ || -->
        <!-- || instrument -->
        <!-- || ================================ || -->
        <div class="col-sm-10 mb-4">
          <label for="instruments">Instruments:</label>
          <select
            name="instrument"
            id="inst-select"
            class="form-select"
            multiple
            required
          >
            <%- instruments.map(inst=> `
            <option value="${inst._id}">${inst.name}</option>
            ` ).join('') %>
          </select>
        </div>
        <!-- || ================================ || -->
        <!-- || cover art -->
        <!-- || ================================ || -->
        <div class="col-sm-10 mb-4">
          <label for="url">Cover Art:</label>
          <input
            name="coverArt"
            type="url"
            placeholder="https://example.com"
            pattern="https?://.*"
            size="300"
          />
        </div>
        <!-- || ================================ || -->
        <!-- || footer buttons -->
        <!-- || ================================ || -->
        <div class="col-sm-10 mb-4 d-flex justify-content-between">
          <button type="submit" class="btn btn-primary">Add Song</button>
          <a href="/ysbpsongs" class="btn btn-outline-danger">Back</a>
        </div>
      </div>
    </form>
  </div>
</body>
<br />
<br />
<%- include('../partials/footer') %>